body {
  margin: 0;
  // font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  background-color: black;
}

#mill-container {
  
  //  p, a {
  //    line-height: 130%;
  //    font-weight: 300;
  //  }

  a.nav-link {
    color: white;
    text-decoration: none;
  }

  .slide-wrap {
    display: none;
  }

  .slider-item img {
      max-width: 100%;
      height: auto;
  }

  .slide-footer .nav-link {
    display: none;
  }

  .mobile-nav,
  .slide-footer {
    margin: 5 10 20 10;
  }

  @media screen and (min-width: 600px) {
    .mobile-nav .nav-link {
      display: none;
    }

    .slide-footer .nav-link {
      display: inline;
    }

    .mobile-nav,
    .slide-footer {
      margin: 0;
    }

    .slide-wrap {
      display: block;
      min-height: 100%;
      /* equal to footer height */
      margin-bottom: -142px;
    }

    .slider-item img {
      display: none;
    }

    .slide-wrap:after {
      content: "";
      display: block;
    }
    .slide-footer, .slide-wrap:after {
      height: 142px;
    }
    .slide-footer {
      padding: 5 20;
      background-color: rgba(0,0,0,0.4);
    }

    .slide-footer h2 {
      margin: 5 0;
    }
    .slide-footer .nav-link {
      float: right;
    }


    .mill-container {
      margin: 0 auto;
    }

    .slider-item {
      background-size: cover;
    }

   .slider-item.one .slide-wrap,
   .slider-item.two .slide-wrap,
   .slider-item.three .slide-wrap,
   .slider-item.about .slide-wrap {
      background-image: none;
    }

    .slider-item {
      background-image: attr(data-image-src url);
    }
  }
}
