#site_title {
  margin: 5px 10px;
}

#slides-container {

  .slide-wrap {
    display: none;
  }

  .slider-item img {
      max-width: 100%;
      height: auto;
  }

  .slide-footer .nav-link {
    display: none;
  }

  .mobile-nav,
  .slide-footer {
    margin: 5px 10px 20px 10px;
  }
}

@media screen and (min-width: 600px) {
  html, body, #slides-container, .slider, .slick-list, .slick-track{
    margin:0; padding:0; height:100%; width:100%;
  }

  #site_title {
    display: none;
  }

  #slides-container {
    margin: 0 auto;

    .slider-item {
      min-height: 100%;
      height: 100%;
    }

    .slider-item img {
      display: none;
    }

    .slider-item {
      background-size: cover;
      background-image: attr(data-image-src url);
    }

    .slide-wrap {
      display: block;
      min-height: 100%;
      /* equal to footer height */
      margin-bottom: -142px;
    }

    .slide-wrap:after {
      content: "";
      display: block;
    }
    .slide-footer, .slide-wrap:after {
      height: 142px;
    }

    .mobile-nav,
    .slide-footer {
      margin: 0;
    }

    .slide-footer {
      background-color: rgba(0,0,0,0.4);
      overflow: hidden;
    }
    .slide-footer p {
      margin: 0 20px;
    }

    .slide-footer h2 {
      margin: 5px 20px;
    }

    .slide-footer .nav-link {
      margin-top: 10px;
      margin-right: 20px;
      float: right;
      display: inline;
    }

    .mobile-nav .nav-link {
      display: none;
    }
  }
}
