<!DOCTYPE html>
<html>

  {% include head_slideshow.html %}

  <body>
    <h1 id="site_title">{{site.title}}</h1>
    <div id="slides-container">
          {{ content }}
      {% if page.title %}
        <div class='mobile-nav'><a class="nav-link" href="/">Home</a></div>
      {% else %}
        <div class='mobile-nav'><a class="nav-link" href="/about">About</a></div>
      {% endif %}
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/slick/slick.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        var mq = window.matchMedia( "(min-width: 600px)" );

        if (mq.matches) {
          var list = document.getElementsByClassName('slider-item');

          for (var i = 0; i < list.length; i++) {
            var src = list[i].getAttribute('data-image-src');
            list[i].style.backgroundImage="url('" + src + "')";
          }
        }

        $('.slider').slick({
          arrows: true,
          dots: false,
          infinite: true,
          speed: 300,
          slidesToShow: 1,
          autoplay: true,
          autoplaySpeed: 20000,
          adaptiveHeight: true,
          responsive: [
            {
              breakpoint: 600,
              settings: 'unslick'
            }
          ]
        });
      });
    </script>

  </body>
</html>
